<h1>The Places Journal</h1>


<% if User.find_by({ "id" => session["user_id"] }) != nil %>
  <ul>
    <% for place in @places %>
      <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
    <% end %>
  </ul>

  <p>
    <a href="/places/new" class="btn btn-primary">New Place</a>

  </p>

<% else %>
  This website helps you keep track of all the places you and your friends have visited while allowing you to create personalized journal entries for each location. Your entries will be private and visible only to you, so you can document your experiences, memories, and thoughts freely.
  <p>
  <p>
  Please log in to continue to The Places Journal and start capturing your adventures!

<% end %>